body {
    font-size: 14px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

.formulario {
    max-width: 400px;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }

  form input,
  form select,
  form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    resize: vertical;
    height: 100px;
  }
  
  form button {
    padding: 10px;
    background-color: #1351d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease, background-color 0.3s ease;
  }
  
  form button:hover {
    transform: translateY(-2px);
    color: white;
    background-color: #00274C;
  }
  
  .imagem-formulario {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  .formulario textarea{
    resize: none;
    font-family: Arial, sans-serif;
  }

@media(max-width: 768px){
  body{
    flex-direction: column;
    gap: 20px;
  }
  .formulario{
    width: 100%;
    max-width: 100%;
    padding: 0
  }
}