<footer>
        <div class="sociais">
        <h2>Redes Sociais</h2>
        <a href="https://www.facebook.com/FordBrasil/about?locale=pt_BR"><img src="assets/facebook-50.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/fordbrasil/"><img src="assets/instagram-logo-50.png" alt="Instagram"></a>
        <a href="https://www.youtube.com/fordbrasil"><img src="assets/youtube-squared-50.png" alt="Youtube"></a>
        </div>

        <div class="copyright">
            <p>&copy; 2025 Ford Motor Company todos os direitos reservados.</p>
        </div>

        <div class="logo_footer">
            <img src="assets/ford-96.png" alt="Logo footer">
        </div> 
    </footer>