<header>
    <img src="assets/logo-ford-256.png" alt="Logo Ford">
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/lancamento">Lançamentos</a></li>
            <li><a routerLink="/contato">Contato</a></li>
        </ul>
    </nav>
    <a 
        (click)="handleAuthClick()" 
        class="header-button-primary"
        role="button">
        
        <ng-container *ngIf="isLoginPage">
            Voltar para Home
        </ng-container>
        <ng-container *ngIf="!isLoginPage && isLoggedIn">
            Sair
        </ng-container>
        <ng-container *ngIf="!isLoginPage && !isLoggedIn">
            Login
        </ng-container>
    </a>
</header>
